version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=soundiary_user
      - DB_PASSWORD=soundiary_pass
      - DB_NAME=soundiary_db
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: soundiary_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  volumes:
    db_data:
    